<html lang='pt-br'>
    <head>
        <title>Controle de Tarefas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous"></>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="home.js"></script>

    </head>
    <body>
        <div ng-app="myApp">
            <h1 text align="center"> Lista de Tarefas </h1>

            <div class="container-fluid">

            <div ng-controller="UserCtrl" class="container">

                <div class="p-3 mb-2 bg-white text-dark">

                    <button type="button" class="btn btn-danger" ng-click="categoria()">+ Categoria</button>
                    <button type="button" class="btn btn-danger" >+ Tarefa</button>
                    <button type="button" class="btn btn-danger" >Ver tarefas por categorias</button>                    
                </div>

            
            <div class = "container" id="concluidas" ng-hide="concluidoo">
                <div class="p-3 mb-2 bg-info text-with">
                    <h3>Concluídas</h3>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Tarefa Realizada</th>
                                <th scope="col">Tarefa</th>
                                <th scope="col">Categoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tarefa in tarefasConcluidas()" >
                                <th scope="row">
                                <div class="input">
                                <input ng-bind="tarefa.feito" type="checkbox" checked>
                               </div> 
                                </th>
                                <td>{{tarefa.nome}}</td>
                                <td>{{tarefa.categoria}}</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
            </br>
                
            <div class="container" id="pendente" ng-hide="pendentee">
                <div class="p-3 mb-2 bg-info text-with">
                    <h3> Pendentes</h3>

                <table class="table">
                        <tr>
                                <th scope="col">Tarefa Realizada</th>
                                <th scope="col">Tarefa</th>
                                <th scope="col">Categoria</th>
                        </tr>                 

                    <tbody>
                        <tr ng-repeat="tarefa in tarefasPendentes()">
                            <th scope="row">
                                <div class="input">
                                <input ng-bind="tarefa.feito" type="checkbox" checked></div>
                            </th>
                            <td>{{tarefa.nome}}</td>
                            <td>{{tarefa.categoria}}</td>
                        </tr>
                    </tbody>
                </table>
                </div> 
            </div>  


            <div ng-show="categg" class="card-categoria">
                <div ng-repeat = "categoria()" class ="container">
                <div class="card text-center text-white bg-danger mb-3" style="max-width: 18rem;">

                    <button> Adicione uma nova Categoria</button>

                        <div class="card-header">Categorias Disponíveis
                        </div> <!-- card-header --> 
                        <div class="card-body">
                        <p class="card-text id">{{categorias.listaNome}}</p>
                        </div> <!-- card-text --> 
                </div>   <!-- card --> 
                </div> <!-- ng-repeat --> 
            </div> <!-- ng-show="categg" -->    

            </div> <!-- ng-controller="UserCtrl" -->
            </div> <!-- container-fluid -->
    </div>  <!-- ng-app -->
                          
    </body>
</html> 