<html lang='pt-br'>
    <head>
        <title>Controle de Tarefas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous"></>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="home.js"></script>

    </head>
    <body>
        <div ng-app="myApp">
            <h1 text align="center"> Lista de Tarefas </h1>

            <div class="container-fluid">

            <div ng-controller="UserCtrl" class="container">

                <div class="p-3 mb-2 bg-white text-dark">

                    <a ng-href="index.html"><button type="button" class="btn btn-danger" ng-click="index.html">+ Home</button>
                    </a>
                    <button type="button" class="btn btn-danger" ng-click="choiceCategoria()">+ Categoria</button>
                    <button type="button" class="btn btn-danger" ng-click="choiceTarefa()">+ Tarefa</button>
                    <button type="button" class="btn btn-danger" >Ver tarefas por categorias</button>                    
                </div>
            
            <div class = "container" id="concluidas" ng-hide="concluidoo">
                <div class="p-3 mb-2 bg-info text-with">
                    <h3>Concluídas</h3>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Tarefa Realizada</th>
                                <th scope="col">Tarefa</th>
                                <th scope="col">Categoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tarefa in tarefasConcluidas()" >
                                <th scope="row">
                                <div class="input">
                                <input ng-bind="tarefa.feito" type="checkbox" checked>
                               </div> 
                                </th>
                                <td>{{tarefa.nome}}</td>
                                <td>{{tarefa.categoria}}</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
            </br>
                
            <div class="container" id="pendente" ng-hide="pendentee">
                <div class="p-3 mb-2 bg-info text-with">
                    <h3> Pendentes</h3>

                <table class="table">
                        <tr>
                                <th scope="col">Tarefa Realizada</th>
                                <th scope="col">Tarefa</th>
                                <th scope="col">Categoria</th>
                        </tr>                 

                    <tbody>
                        <tr ng-repeat="tarefa in tarefasPendentes()">
                            <th scope="row">
                                <div class="input">
                                <input ng-bind="tarefa.feito" type="checkbox" checked></div>
                            </th>
                            <td>{{tarefa.nome}}</td>
                            <td>{{tarefa.categoria}}</td>
                        </tr>
                    </tbody>
                </table>
                </div> 
            </div>  


            <div ng-show="categg" class="card-categoria">
                
                <div class="card text-left text-white bg-danger mb-3" style="max-width: 18rem;">

                    <div class="card-header">
                    <input ng-keypress = "keyPressing($event)"ng-model="novaCategoria"> </input><button ng-click="adicionar()"> Adicionar </button>
                    </div>  <!-- card-header -->

                    <div class="card-body">
                    <div ng-repeat="categoria in categorias()">
                        <p class="card-text id"><span> {{categoria}} </span>                        
                        </p>
                    </div> <!-- ng-repeat categoria -->

                    </div> <!-- card-body -->
                </div> <!-- card -->
                    <div class="messagem">{{mensagem}}</div>              
                
                 
            </div> <!-- ng-show="categg" -->    

            <div ng-show="tarefaa" class="">
                <select ng-model="selectCategoria">
                    <option value="categoria" ng-repeat="categoria in categorias">
                        {{categoria}}
                    </option>
                </select>

                <div ng-repeat="tarefa in tarefas">
                    <span> {{tarefa.nome}} {{tarefa.categoria}}</span>
                </div>

                <div class="messagem2">{{mensagem}}</div>

            </div>

            </div> <!-- ng-controller="UserCtrl" -->
            </div> <!-- container-fluid -->
    </div>  <!-- ng-app -->
                          
    </body>
</html> 