<html lang='pt-br'>
    <head>
        <title>Controle de Tarefas</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous"></>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
        <script src="home.js"></script>

    </head>
    <body>
        <div ng-app="myApp">
            <h1 text align="center"> Lista de Tarefas </h1>

            <div class="container-fluid">

            <div ng-controller="UserCtrl" class="container">

                <div class="p-3 mb-2 bg-white text-dark">

                    <button type="button" class="btn btn-danger" >+ Categoria</button>
                    <button type="button" class="btn btn-danger" >+ Tarefa</button>
                    <button type="button" class="btn btn-danger" >Ver tarefas por categorias</button>                    
                </div>

            <div class="p-3 mb-2 bg-info text-with">

                <div class = "container" id="concluidas" >
                    <h3>Concluídas</h3>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Tarefa Realizada</th>
                                <th scope="col">Tarefa</th>
                                <th scope="col">Categoria</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tarefa in tarefasConcluidas()" >
                                <th scope="row">
                                   <div class="input">
                                 <input ng-bind="tarefa.feito" type="checkbox" checked>
                               </div> 
                                </th>
                                <td>{{tarefa.nome}}</td>
                                <td>{{tarefa.categoria}}</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </br>
                
                <div class="container" id="pendente">
                    <h3> Pendentes</h3>

                    <table class="table">
                        <tr>
                                <th scope="col">Tarefa Realizada</th>
                                <th scope="col">Tarefa</th>
                                <th scope="col">Categoria</th>
                        </tr>
                    </table>

                    <tbody>
                        <tr ng-repeat="tarefa in tarefasPendentes()">
                            <th scope="row">
                                <div class="input">
                                <input ng-bind="tarefa.feito" type="checkbox" checked></div>
                            </th>
                            <td>{{tarefa.nome}}</td>
                            <td>{{tarefa.categoria}}</td>
                        </tr>
                    </tbody>
                </div>                
            </div>  
        </div>          
    </body>
</html> 